**/*.log
**/*.md
**/*.php~
**/*.dist.php
**/*.dist
**/*.cache
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.github/
docs/
public/bundles/
tests/
var/
vendor/
.editorconfig
.env.*.local
.env.local
.env.local.php
.env.test
run.sh
psalm.xml
phpunit.xml.dist
phpcs.xml
LICENSE
README.md
deptrac.yaml
captainhook.json
.gitignore
.gitattributes
docker/php/php
bin/*.phar
bin/phpunit
node_modules