back_directory:
    resource: "routes/back/"
    type: directory

front_directory:
    resource: "routes/front/"
    type: directory
    prefix: "/{_locale}"
    requirements:
        _locale: "%app.locale%"

_translation_webui:
    resource: "@TranslationBundle/Resources/config/routing_webui.yaml"
    prefix: /admin

back_root:
    path: /admin/
    controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController::urlRedirectAction
    defaults:
        path: /admin/dashboard
        permanent: true

root_homepage:
    path: /
    controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController::urlRedirectAction
    defaults:
        path: /en
        permanent: true
